<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom bg-dark">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-light text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-2">Salvador Highligths</span>
    </a>

    <ul class="nav nav-pills menu-principal">
      <li class="nav-item"><a routerLink="/" class="nav-link" aria-current="page">Início</a></li>
      <li class="nav-item"><a routerLink="/noticias-regionais" class="nav-link">Notícias Regionais</a></li>
      <li class="nav-item"><a routerLink="/noticias-nacionais" class="nav-link">Nacionais</a></li>
      <li class="nav-item"><a routerLink="/noticias-internacionais" class="nav-link">Internacionais</a></li>
      <li class="nav-item"><a routerLink="/contatos" class="nav-link">Contatos</a></li>
    </ul>
  </header>
