<div class="admin-container">
  <aside class="sidebar">
    <nav>
      <ul>
        <li><a routerLink=""(click)="logout()">Logout</a></li>
        <li><a routerLink="/admin">Dashboard</a></li>
        <li><a routerLink="/usuarios">Usuários</a></li>
        <li><a routerLink="/editar-home">Editar Home</a></li>
        <li><a routerLink="/editar-sobre">Editar Sobre</a></li>
      </ul>
    </nav>
  </aside>
  <main class="content">
    <h2>Bem-vindo, Admin!</h2>
    <router-outlet></router-outlet>
  </main>
</div>
