<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2>
        Administração Salvador Highlights
      </h2>
      <!-- <small class="text mutted">Criar, buscar, atualizar e deletar notícias</small> -->
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <a><button type="button" class="btn btn-primary float-right" routerLink="/criar-noticia">Criar Notícia</button></a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" class="coluna-indice">#</th>
            <th scope="col" class="ColunaTitulo">Título</th>
            <th scope="col" class="ColunaTexto">Texto</th>
            <th scope="col" class="ColunaFoto">Foto</th>
            <th scope="col" class="ColunaCriado">Criado em:</th>
            <th scope="col" class="ColunaAtualizado">Atualizado em:</th>
            <th scope="col" class="ColunaDeletado">Deletado em:</th>
            <th scope="col" class="ColunaStatus">Status</th>
            <th scope="col" class="ColunaTipo">Tipo</th>
            <th scope="col" class="ColunaBotoes"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let noticia of listaNoticias; let i = index">
            <td>{{i+1}}</td>
            <td>{{noticia.noticia_txt_titulo}}</td>
            <td>{{noticia.noticia_txt_texto}}</td>
            <td>{{noticia.noticia_txt_foto}}</td>
            <td>{{noticia.created_at | date}}</td>
            <td>{{noticia.updated_at | date}}</td>
            <td>{{noticia.deleted_at | date}}</td>
            <td>{{noticia.noticia_bool_ativo ? "ativo" : "desativado"}}</td>
            <td><p *ngFor="let tipo of noticia.noticia_tipos">{{tipo.noticiaTipo_txt_valor}}</p></td>
            <td>
              <a routerLink="/editar-noticia/{{noticia.noticia_int_id}}"><button class="btn btn-primary mr-2">Editar</button></a>
              <button (click)="excluirNoticia(noticia.noticia_int_id)" class="btn btn-danger">Excluir</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
