.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    }
    .box {
    width: 300px;
    height: 300px;
    background: #fff;
    position: relative;

    }

.formulario{
    width: 700px;
    padding: 30px;
}
.formulario p{
    width: 100%;
    font-size: 1.5em;
}
.campo{
    width: 100%;
    margin: 15px 0;
    align-items: center;
}
.campo label{
    padding-left: 10px;
    font-size: 1.1em;
    display: block;
    width: 100%;
}

input[type=text],
textarea{
    width: 100%;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    border: 1px solid #ccc;
    outline: none;
}
textarea{
    line-height: 20px;
    padding: 10px;
    height: 90px;
    resize: none;
}

input[type=submit],
input[type=button]{
    height: 35px;
    width: 100px;
    margin-right: 15px;
    border-radius: 15px;
    text-align: center;
}
